.name{
background-color: #fff;
  position: absolute;
  margin-top: -14%;
  margin-left: 63%;
  color: #fff;
  height:150px;
  width:168px;
}

.n2{
  background-color: #fff;
    position: absolute;
    margin-top: -22%;
    margin-left: 68%;
    color: #fff;
    height:140px;
    width:150px;
}
